<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-cube-outline"></md-icon>
                    <span translate="EC.BEASISWA">Beasiswa</span>
                </div>
                <div class="product-count secondary-text">
                    <span translate="EC.TOTAL_BEASISWA">Total Beasiswa:</span>
                    <span>{{vm.beasiswas.length}}</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Search"
                       translate translate-attr-placeholder="EC.SEARCH" flex>
            </div>

            <div>
                <md-button class="md-raised md-background" ng-click="vm.gotoAddBeasiswa()">
                    <span translate="EC.TAMBAH_BEASISWA">Tambah Beasiswa</span>
                </md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">ID</span>
                                </div>
                            </th>
                            <!-- <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Image</span>
                                </div>
                            </th> -->
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Nama</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Pendonor</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Kuota</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Semester</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Pembukaan</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Penutupan</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Active</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Actions</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="beasiswa in ::vm.beasiswas">
                            <td>{{beasiswa.id_beasiswa}}</td>
                            <!-- <td><img class="product-image" ng-src="{{product.images[0].url}}"></td> -->
                            <td>{{beasiswa.nama}}</td>
                            <td>{{beasiswa.pendonor}}</td>
                            <td>{{beasiswa.jumlah_daftar}}</td>
                            <td>{{beasiswa.semester}}</td>
                            <td>{{beasiswa.pembukaan}}</td>
                            <td>{{beasiswa.penutupan}}</td>
                            <td>{{beasiswa.status_aktif}}</td>
                            <td>
                                <md-button class="edit-button md-icon-button" ng-click="vm.gotoBeasiswaDetail(beasiswa.id_beasiswa)" aria-label="Beasiswa Details"
                                           translate translate-attr-aria-label="EC.DETAIL_BEASISWA">
                                    <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>