<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-baby"></md-icon>
                    <span translate="EC.MAHASISWA">Mahasiswa</span>
                </div>
                <div class="product-count secondary-text">
                    <span translate="EC.TOTAL_MAHASISWA">Total Mahasiswa:</span>
                    <span>{{vm.students.length}}</span>
                </div>
            </div>

            <div class="search" layout="row" layout-align="start center" flex>
                <md-icon md-font-icon="icon-magnify" class="white-text icon search-icon"></md-icon>
                <input id="e-commerce-products-search" class="search-input" type="text" placeholder="Search"
                       translate translate-attr-placeholder="EC.SEARCH" flex>
            </div>

            <div>
                <md-button class="md-raised md-background" ng-click="vm.gotoAddStudent()">
                    <span translate="EC.TAMBAH_MAHASISWA">Tambah Mahasiswa</span>
                </md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT TOOLBAR -->

            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text" width="5%">
                                <div class="table-header">
                                    <span class="column-title">ID</span>
                                </div>
                            </th>
                            <th class="secondary-text" width="15%">
                                <div class="table-header">
                                    <span class="column-title">Nama Lengkap</span>
                                </div>
                            </th>
                            <th class="secondary-text" width="15%">
                                <div class="table-header">
                                    <span class="column-title">Jenis Kelamin</span>
                                </div>
                            </th>
                            <th class="secondary-text" width="15%">
                                <div class="table-header">
                                    <span class="column-title">Email</span>
                                </div>
                            </th>
                            <th class="secondary-text" width="20%">
                                <div class="table-header">
                                    <span class="column-title">Departemen</span>
                                </div>
                            </th>
                            <th class="secondary-text" width="20%">
                                <div class="table-header">
                                    <span class="column-title">Fakultas</span>
                                </div>
                            </th>
                            <th class="secondary-text" width="5%">
                                <div class="table-header">
                                    <span class="column-title">Status Aktif</span>
                                </div>
                            </th>
                            <th class="secondary-text" width="5%">
                                <div class="table-header">
                                    <span class="column-title">Actions</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in ::vm.students">
                            <td width="5%">{{student.id_user}}</td>
                            <td width="15%">{{student.nama}}</td>
                            <td width="15%">{{student.jenis_kelamin}}</td>
                            <td width="15%">{{student.email}}</td>
                            <td width="20%">{{student.jurusan}}</td>
                            <td width="20%">{{student.fakultas}}</td>
                            <td width="5%">{{student.status_aktif}}</td>
                            <td width="5%">
                                <md-button class="edit-button md-icon-button" ng-click="vm.gotoStudentDetail(student.id_user)" aria-label="Mahasiswa Details"
                                           translate translate-attr-aria-label="EC.DETAIL_MAHASISWA">
                                    <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>