<style>
 ::ng-deep .mat-tab-label, .mat-tab-label-content {
    color: #000;
  }
  body {
    background-color: #F0F0F0;
  }
</style>
<app-header></app-header>

<body>
    <section id="contact" class="section-padding">
          <div class="container">
            <div class="contact-form-area">          
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Detail Beasiswa">
                      <app-detail-beasiswa></app-detail-beasiswa>
                    </mat-tab>
                    <mat-tab label="Pendaftaran">
                      <app-daftar-beasiswa></app-daftar-beasiswa>
                    </mat-tab>
                  </mat-tab-group>
                </div>
            </div>
          </div>
      </section>

<app-footer></app-footer>

</body>