<body>

  <div class="container">
    <form (submit)="registeruser($event)">
      <span class="title">Daftar Mahasiswa</span>

      <div class="inputbox">
        <input type="text" name="nama" placeholder="Nama Lengkap">
      </div>

      <div class="inputbox">
        <input type="text" name="email" placeholder="Email">
      </div>

      <div class="inputbox">
        <input type="number" name="no_pegawai" placeholder="Nomor Pegawai">
      </div>
      
      <div class="radio">
        <input id="radio-1" name="radio" type="radio" checked>
        <label for="radio-1" class="radio-label">Checked</label>
  
        <input id="radio-2" name="radio" type="radio">
        <label  for="radio-2" class="radio-label">Unchecked</label>
      </div>

      <div class="inputbox">
        <input type="password" name="password" placeholder="Password">
      </div>

<!-- 
      <div class="radiobox">
        <input type="radio" name="jenis_kelamin" value="male"> Laki-laki
        <input type="radio" name="jenis_kelamin" value="female"> Perempuan
      </div> -->

      <div class="boxbutton">
        <button type="submit">Daftar</button>
      </div>
      
      <div class="text-center txt">
        <span class="txt1">Sudah punya akun? </span>
        <a routerLink="/login">Masuk</a>
      </div>
    </form>

  </div>

</body>