<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to Berita"
                       ng-click="vm.gotoListNews()"
                       translate translate-attr-aria-label="EC.GO_TO_BERITA">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.news.judul}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span translate="EC.DETAIL_BERITA">Detail Berita</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveNews()"
                       ng-disabled="!vm.isFormValid('productForm')">
                <span translate="EC.SIMPAN">SIMPAN</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.INFORMASI_UMUM">Berita</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form id="productForm" name="productForm">
                            <md-input-container class="md-block">
                                <label translate="EC.NAMA_BERITA">Judul Berita</label>
                                <input type="text" ng-model="vm.news.judul" required>
                            </md-input-container>

                            <h3 class="secondary-text" translate="EC.DESKRIPSI_BERITA">Deskripsi Berita</h3>
                            <text-angular ta-toolbar="vm.taToolbar" ng-model="vm.news.deskripsi"
                                          class="pb-32"></text-angular>
                            
                            <md-input-container class="md-block">
                                <label translate="EC.STATUS">Status Aktif</label>
                                <md-select ng-model="vm.news.status_aktif">
                                    <md-option value="1">Aktif</md-option>
                                    <md-option value="0">Tidak Aktif</md-option>
                                </md-select>
                            </md-input-container>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>