<div>
  <table>
      <tr>
        <th style="padding-right: 200px;"></th>
      </tr>
      <tr>
        <td>Unggah Berkas</td>
        <td>:</td>
        <td>
          <form action="">
            <label for="file-upload"><i class="btn btn-common fa fa-upload"> Pilih Berkas</i></label>
            <input style="display: none;" id="file-upload" type="file">
            <label for="submit"><i class="btn btn-common fa fa-submit"> Submit</i></label>
            <input style="display: none;" id="submit" type="submit">
          </form>
      </td>
      </tr>
    </tbody>
  </table>
  
</div>