<body>
<app-header></app-header>
  <header id="header-wrap">

    <div id="hero-area" class="hero-area-bg">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <div class="contents">
              <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">SIMBES</h2>
              <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Sistem Informasi Beasiswa IPB</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
  

  
  <div id="beasiswa" class="section-padding">
    <h3 class="section-title wow flipInX" data-wow-delay="0.4s"><a class="title" href="listbeasiswa">Daftar Beasiswa</a></h3>
    <div class="container">
      <div class="row">


        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="education wow fadeInRight" data-wow-delay="0.3s">
            <ul class="timeline">
              <li>
                <i class="icon-graduation"></i>
                <h2 class="timelin-title">Pendaftaran Dibuka</h2>
              </li>
              <li *ngFor="let item of beasiswa">
                <div class="content-text">
                  <h3 class="line-title">{{item.nama}}</h3>
                  <span>{{item.pembukaan}} - {{item.penutupan}}</span>
                  <p class="line-text">{{item.deskripsi}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="experience wow fadeInRight" data-wow-delay="0.6s">
            <ul class="timeline">
              <li>
                <i class="icon-briefcase"></i>
                <h2 class="timelin-title">Pendaftaran Ditutup</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Judul Beasiswa</h3>
                  <span>pembukaan - penutupan</span>
                  <p class="line-text">deskripsi singkat</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section id="berita" class="services section-padding">
    <h3 class="section-title wow flipInX" data-wow-delay="0.4s"><a class="title" href="listberita">Berita</a></h3>
    <div class="container">
      <div class="row">
    
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
            <div class="services-content">
              <h3><a href="#">Judul Beasiswa</a></h3>
              <p>Berita singkat</p>
            </div>
          </div>
        </div>
    
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
            <div class="services-content">
              <h3><a href="#">Judul Beasiswa</a></h3>
              <p>Berita singkat</p>
            </div>
          </div>
        </div>
    
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
            <div class="services-content">
              <h3><a href="#">Judul Beasiswa</a></h3>
              <p>Berita singkat</p>
            </div>
          </div>
        </div>
    
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
            <div class="services-content">
              <h3><a href="#">Judul Beasiswa</a></h3>
              <p>Berita singkat</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>
</body>