<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to Beasiswa"
                       ng-click="vm.gotoBeasiswas()"
                       translate translate-attr-aria-label="EC.GO_TO_BEASISWA">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.beasiswa.nama}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span translate="EC.DETAIL_BEASISWA">Detail Beasiswa</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveBeasiswa(vm.beasiswa.id_beasiswa)"
                       ng-disabled="!vm.isFormValid('beasiswaForm')">
                <span translate="EC.SIMPAN">SIMPAN</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.INFORMASI_UMUM">Informasi Umum</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form id="beasiswaForm" name="beasiswaForm">
                            <md-input-container class="md-block">
                                <label translate="EC.NAMA_BEASISWA">Nama Beasiswa</label>
                                <input type="text" ng-model="vm.beasiswa.nama" required>
                            </md-input-container>
                            
                            <md-input-container class="md-block">
                                <label translate="EC.PENDONOR_BEASISWA">Pendonor Beasiswa</label>
                                <input type="text" ng-model="vm.beasiswa.pendonor" required>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.KUOTA_PENERIMAAN_BEASISWA">Kuota Penerimaan Beasiswa</label>
                                <input type="number" step="1" ng-model="vm.beasiswa.jumlah_daftar">
                            </md-input-container>
                            
                            <h3 class="secondary-text" translate="EC.DESKRIPSI_BEASISWA">Deskripsi Beasiswa</h3>
                            <text-angular ta-toolbar="vm.taToolbar" ng-model="vm.beasiswa.deskripsi"
                                          class="pb-32"></text-angular>
                            
                            <md-input-container class="md-block">
                                <label translate="EC.STATUS">Status Aktif</label>
                                <md-select ng-model="vm.beasiswa.status_aktif">
                                    <md-option value="1">Aktif</md-option>
                                    <md-option value="0">Tidak Aktif</md-option>
                                </md-select>
                            </md-input-container>              
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.SYARAT_DAN_KETENTUAN">Syarat dan Ketentuan</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <md-input-container class="md-block">
                                <label translate="EC.JENJANG_PENDIDIKAN">Jenjang Pendidikan</label>
                                <md-select multiple="{{false}}" ng-model="vm.beasiswa.jenjangPendidikan">
                                    <md-option value="1">S1</md-option>
                                    <md-option value="2">S2</md-option>
                                    <md-option value="3">D3</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.SEMESTER">Semester</label>
                                <md-select multiple="{{false}}" ng-model="vm.beasiswa.semester">
                                    <md-option value="1">1</md-option>
                                    <md-option value="2">2</md-option>
                                    <md-option value="3">3</md-option>
                                    <md-option value="4">4</md-option>
                                    <md-option value="5">5</md-option>
                                    <md-option value="6">6</md-option>
                                    <md-option value="7">7</md-option>
                                </md-select>
                            </md-input-container>


                            <md-input-container class="md-block">
                                <label translate="EC.IPK_MINIMAL">IPK Minimal</label>
                                <input type="number" step="0.01" ng-model="vm.beasiswa.ipkMin">
                            </md-input-container>

                            <h3 class="secondary-text" translate="EC.PERSYARATAN_LAINNYA">Persyaratan (lainnya)</h3>
                            <text-angular ta-toolbar="vm.taToolbar" ng-model="vm.beasiswa.persyaratan"
                                    class="pb-32"></text-angular>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.BERKAS">Berkas Beasiswa</span>
                </md-tab-label>
    
                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
    
                        <!-- ADD FILE BUTTON -->
                        <div id="file-uploader"
                            flow-init="vm.ngFlowOptions"
                            flow-name="vm.ngFlow.flow"
                            flow-files-submitted="vm.upload()"
                            flow-file-added="vm.fileAdded($file)"
                            flow-file-success="vm.fileSuccess($file, $message)"
                            flow-complete="vm.uploadComplete()">
    
                            <div class="upload-button" layout="column" layout-align="center center">
                                <md-button class="md-accent md-raised" flow-btn>
                                    UPLOAD A FILE
                                </md-button>
                            </div>
                        </div>
                        <!-- / ADD FILE BUTTON -->
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.TIMELINE">Timeline</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.PEMBUKAAN_BEASISWA">Pembukaan Beasiswa</label>
                                    <input type="date" ng-model="vm.beasiswa.pembukaan" max="vm.beasiswa.penutupan">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.PENUTUPAN_BEASISWA">Penutupan Beasiswa</label>
                                    <input type="date" ng-model="vm.beasiswa.penutupan" min="vm.beasiswa.pembukaan">
                                </md-input-container>
                            </div>

                            <md-input-container class="md-block">
                                <label translate="EC.SURAT_KEPUTUSAN_BEASISWA">Surat Keputusan Beasiswa</label>
                                <input type="text" ng-model="vm.beasiswa.sk">
                            </md-input-container>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>