<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-arrow-left" ng-click="vm.gotoListBeasiswa()"></md-icon>                    <span translate="EC.PENDAFTAR">Pendaftar Beasiswa</span>
                 </div>
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon></md-icon>
                    <span>{{beasiswa.nama}}</span>
                </div>
                <div class="product-count secondary-text">
                    <span translate="EC.TOTAL_PENDAFTAR">Total Pendaftar:</span>
                    <span>{{vm.pendaftars.length}}</span>
                </div>
            </div>
            <div class="actions" layout="row" layout-align="end center">
                <md-button class="md-raised md-background" ng-click="vm.gotoListPenerima()">
                    <span translate="EC.PENERIMA">Penerima Beasiswa</span>
                </md-button>
                <md-menu>
                    <md-button class="md-raised md-background" ng-click="$mdOpenMenu()">
                        <span translate="EC.EXPORT">Export</span>
                        <md-icon md-font-icon="icon-chevron-down" class="icon s16" hide-xs></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item class="md-indent" ui-sref="app.pages_profile">
                            <md-button>Export Data (.xlxs)</md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent" ui-sref="app.pages_profile">
                            <md-button>Export Data (.rar)</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text" width="10%">
                                <div class="table-header">
                                    <span class="column-title">ID Pendaftar</span>
                                </div>
                            </th>

                            <th class="secondary-text" width="10%">
                                <div class="table-header">
                                    <span class="column-title">Nama Lengkap</span>
                                </div>
                            </th>

                            <th class="secondary-text" width="20%">
                                <div class="table-header">
                                    <span class="column-title">Email</span>
                                </div>
                            </th>

                            <th class="secondary-text" width="20%">
                                <div class="table-header">
                                    <span class="column-title">Alamat Berkas</span>
                                </div>
                            </th>

                            <th class="secondary-text" width="10%">
                                <div class="table-header">
                                    <span class="column-title">Status Aktif</span>
                                </div>
                            </th>

                            <th class="secondary-text" width="30%">
                                <div class="table-header">
                                    <span class="column-title">Actions</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pendaftar in ::vm.pendaftars, i in index">
                            <td width="10%">{{i++}}</td>
                            <td width="10%">{{pendaftar.nama}}</td>
                            <td width="20%">{{pendaftar.email}}</td>

                            <td width="20%" ng-if="pendaftar.alamat_berkas == 1">
                                <md-button class="md-raised md-background">
                                    <span>Download</span>
                                </md-button>
                            </td>
                            <td width="20%" ng-if="pendaftar.alamat_berkas == 0">Tidak ada berkas</td>

                            <td width="10%" ng-if="pendaftar.status_aktif == 1">Aktif</td>
                            <td width="10%" ng-if="pendaftar.status_aktif == 0">Tidak Aktif</td>

                            <td width="30%" ng-if="pendaftar.status == 2">Diterima</td>
                            <td width="30%" ng-if="pendaftar.status == 3">Ditolak</td>
                            <td width="30%" ng-if="pendaftar.status == 1">
                                <md-button class="md-raised md-accent" ng-click="vm.AccPendaftar(pendaftar.id_pendaftar)">
                                    <span translate="EC.ACCEPT">Accept</span>
                                </md-button>
                                <md-button class="md-raised md-primary" ng-click="vm.DecPendaftar(pendaftar.id_pendaftar)">
                                    <span translate="EC.DECLINE">Decline</span>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>