<app-header></app-header>
<body>
  
  <table>
    <thead>
      <tr>
        <th align="right">No</th>
        <th align="left">Nama Beasiswa</th>
        <th align="left">Deskripsi</th>
        <th align="left">Status</th>
        <th align="left">Periode Pendaftaran</th>
        <th align="left">Informasi</th>
      </tr>
    </thead>
    <tbody>
      <td align="right">1</td>
      <td align="left">Nama Beasiswa</td>
      <td align="left">Deskripsi </td>
      <td align="left">Pendaftaran Dibuka</td>
      <td align="center">13 Des 2018 <br> s.d <br> 31 Des 2018</td>
      <td align="left">Jumlah Pendaftar : 43 orang</td>
    </tbody>
  </table>
</body>

<app-footer></app-footer>
