<app-header></app-header>
<body>
  
  <table>
    <thead>
      <tr>
        <th align="left">Nama Beasiswa</th>
        <th align="left">Deskripsi</th>
        <th align="left">Status</th>
        <th align="left">Periode Pendaftaran</th>
        <!-- <th align="left">Informasi</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listBeasiswa">
        <td align="left"><a href="detail">{{item.nama}}</a></td>
        <td align="left">{{item.deskripsi}}</td>
        <td align="left"></td>
        <td align="center">{{item.pembukaan}}<br> s.d <br>{{item.penutupan}}</td>
        <!-- <td align="left">Jumlah Pendaftar : 43 orang</td> -->
    </tr>
    </tbody>
  </table>
</body>

<app-footer></app-footer>
