<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to Mahasiswa"
                       ng-click="vm.gotoStudents()"
                       translate translate-attr-aria-label="EC.GO_TO_MAHASISWA">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.student.nama}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span translate="EC.DETAIL_MAHASISWA">Detail Mahasiswa</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveStudent(vm.student.id_user)"
                       ng-disabled="!vm.isFormValid('studentForm')">
                <span translate="EC.SIMPAN">SIMPAN</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.INFORMASI_UMUM">Informasi Umum</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form id="studentForm" name="studentForm">
                            <md-input-container class="md-block">
                                <label translate="EC.NAMA_MAHASISWA">Nama Lengkap</label>
                                <input type="text" ng-model="vm.student.nama" required>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.JENISKELAMIN">Jenis Kelamin</label>
                                <md-select ng-model="vm.product.jenis_kelamin">
                                    <md-option value="1">Laki-Laki</md-option>
                                    <md-option value="2">Perempuan</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.EMAIL">Email</label>
                                <input type="email" ng-model="vm.student.email" required>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.PASSWORD">Password</label>
                                <input type="password" ng-model="vm.student.password" required>
                            </md-input-container>
                            
                            <md-input-container class="md-block">
                                <label translate="EC.JURUSAN">Departemen</label>
                                <md-select ng-model="vm.student.jurusan">
                                    <md-option value="1">Statistika</md-option>
                                    <md-option value="2">Geofisika dan Meteorologi</md-option>
                                    <md-option value="3">Biologi</md-option>
                                    <md-option value="4">Kimia</md-option>
                                    <md-option value="5">Matematika</md-option>
                                    <md-option value="6">Ilmu Komputer</md-option>
                                    <md-option value="7">Fisika</md-option>                                        <md-option value="8">Ekonomi dan Manajemen</md-option>
                                    <md-option value="8">Biokimia</md-option>
                                    <md-option value="9">Aktuaria</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.FAKULTAS">Fakultas</label>
                                <md-select ng-model="vm.student.fakultas">
                                    <md-option value="1">Pertanian</md-option>
                                    <md-option value="2">Kedokteran Hewan</md-option>
                                    <md-option value="3">Perikanan dan Ilmu Kelautan</md-option>
                                    <md-option value="4">Peternakan</md-option>
                                    <md-option value="5">Kehutanan</md-option>
                                    <md-option value="6">Teknologi Pertanian</md-option>
                                    <md-option value="7">Matematika dan Ilmu Pengetahuan Alam</md-option>
                                    <md-option value="8">Ekonomi dan Manajemen</md-option>
                                    <md-option value="9">Ekologi Manusia</md-option>
                                    <md-option value="10">Sekolah Vokasi</md-option>
                                    <md-option value="11">Sekolah Bisnis</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.STATUS">Status Aktif</label>
                                <md-select ng-model="vm.product.status_aktif">
                                    <md-option value="1">Aktif</md-option>
                                    <md-option value="0">Tidak Aktif</md-option>
                                </md-select>
                            </md-input-container>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>