<div>
    <table>
        <tr>
          <th style="padding-right: 200px;"></th>
        </tr>
        <tr>
          <td>Nama Beasiswa</td>
          <td>:</td>
          <td>{{beasiswa.nama}}</td>
        </tr>
        <tr>
          <td>Deskripsi</td>
          <td>:</td>
          <td>Beasiswa Pertamina Sobat Bumi diberikan kepada mahasiswa/ mahasiswi yang mendukung, menerapkan, serta menciptakan budaya dan kehidupan yang ramah terhadap lingkungan secara konsisten dan berkelanjutan. Beasiswa ini ditujukan kepada mahasiswa program Sarjana (S-1) Reguler. Beasiswa meliputi biaya pendidikan dan biaya hidup.</td>
        </tr>
        <tr>
          <td>Periode Pendaftaran</td>
          <td>:</td>
          <td>13 Des 2018 s.d 31 Des 2018</td>
        </tr>
        <tr>
          <td>Jenjang Pendidikan</td>
          <td>:</td>
          <td>S1 (Teknik, MIPA, Pertanian)</td>
        </tr>
        <tr>
          <td>Semester</td>
          <td>:</td>
          <td>3, 5, dan 7</td>
        </tr>
        <tr>
          <td>Nilai IPK Terakhir</td>
          <td>:</td>
          <td>3.20</td>
        </tr>
        <tr>
          <td>Persyaratan Lain-lain</td>
          <td>:</td>
          <td></td>
        </tr>
        <tr>
          <td>Jumlah Pendaftar</td>
          <td>:</td>
          <td>43 Orang</td>
        </tr>
        <tr>
          <td>Unduh Berkas</td>
          <td>:</td>
          <td>
              <a class="btn btn-common"><i class="fa fa-download"></i> Download</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>