<div>
    <table>
        <tr>
          <th style="padding-right: 200px;"></th>
        </tr>
        <tr>
          <td>Nama Beasiswa</td>
          <td>:</td>
          <td>{{beasiswa.nama}}</td>
        </tr>
        <tr>
          <td>Deskripsi</td>
          <td>:</td>
          <td>{{beasiswa.deskripsi}}</td>
        </tr>
        <tr>
          <td>Periode Pendaftaran</td>
          <td>:</td>
          <td>{{beasiswa.pembukaan}} s.d {{beasiswa.penutupan}}</td>
        </tr>
        <tr>
          <td>Jenjang Pendidikan</td>
          <td>:</td>
          <td>S{{beasiswa.jenjangPendidikan}}</td>
        </tr>
        <tr>
          <td>Semester</td>
          <td>:</td>
          <td>{{beasiswa.semester}}</td>
        </tr>
        <tr>
          <td>Nilai IPK Terakhir</td>
          <td>:</td>
          <td>{{beasiswa.ipkMin}}</td>
        </tr>
        <!-- <tr>
          <td>Persyaratan Lain-lain</td>
          <td>:</td>
          <td></td>
        </tr> -->
        <tr>
          <td>Jumlah Kuota</td>
          <td>:</td>
          <td>{{beasiswa.jumlah_daftar}} Orang</td>
        </tr>
        <!-- <tr>
          <td>Unduh Berkas</td>
          <td>:</td>
          <td>
              <a class="btn btn-common"><i class="fa fa-download"></i> Download</a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>