
/* Footer Area Start */
.footer-area {
    background: #252525;
  }
  
  .footer-area .footer-text p {
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
    text-align: center;
  }
  
  .footer-area .footer-text p a {
    color: #00b4d9;
  }
  
  .footer-area .footer-text .nav-inline .nav-link {
    padding: 11px 7px;
    color: #888;
  }
  
  .footer-area .footer-text .nav-inline .nav-link:hover {
    color: #00b4d9;
  }

  .section-padding {
    padding: 60px 0;
  }
  