<div id="e-commerce-products" class="page-layout carded fullwidth" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="space-between center">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-package-variant"></md-icon>
                    <span translate="EC.PENERIMA">Penerima Beasiswa</span>
                </div>
                <div class="product-count secondary-text">
                    <span translate="EC.TOTAL_PENERIMA">Total Penerima:</span>
                    <span>{{vm.beasiswas.length}}</span>
                </div>
            </div>
            <div>
                <md-button class="md-raised md-background" ng-click="vm.gotoListPendaftar()">
                    <span translate="EC.PENDAFTAR">Pendaftar Beasiswa</span>
                </md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>

            <!-- CONTENT -->
            <div class="content fullpage-datatable" layout="column" flex>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                       dt-options="vm.dtOptions">
                    <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">ID Pendaftar</span>
                                </div>
                            </th>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">ID Beasiswa</span>
                                </div>
                            </th>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">ID Mahasiswa</span>
                                </div>
                            </th>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status Aktif</span>
                                </div>
                            </th>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Alamat Berkas</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="beasiswa in ::vm.beasiswas">
                            <td>{{beasiswa.id_pendaftar}}</td>
                            <td>{{beasiswa.id_beasiswa}}</td>
                            <td>{{beasiswa.id_user}}</td>
                            <td>{{beasiswa.status}}</td>
                            <td>{{beasiswa.status_aktif}}</td>
                            <td>{{beasiswa.alamat_berkas}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>