<body>

  <div class="container">
    <form (ngSubmit)="myform">
      <span class="title">Login</span>

      <div class="inputbox" data-validate = "Email is not valid">
        <input type="text" name="email" placeholder="Email" required>
      </div>

      <div class="inputbox" data-validate="Password is not valid">
        <input type="password" name="pass" placeholder="Password">
      </div>

      <div class="boxbutton">
        <button type="submit">SIGN IN</button>
      </div>
      
      <div class="text-center txt">
        <span class="txt1">Belum punya akun? </span>
        <a routerLink="/register">Daftar</a>
      </div>
    </form>

  </div>

</body>