<body>

  <div class="container">
    <form #loginForm="ngForm">
      <span class="title">Login</span>

      <div class="inputbox" data-validate = "Email is not valid">
        <input [(ngModel)]="formLogin.email" type="text" name="email" placeholder="Email" required>
      </div>

      <div class="inputbox" data-validate="Password is not valid">
        <input [(ngModel)]="formLogin.password" type="password" name="pass" placeholder="Password">
      </div>

      <div class="boxbutton">
        <button (click)="login()">SIGN IN</button>
      </div>
      
      <div class="text-center txt">
        <span class="txt1">Kembali Ke</span>
        <a href="">Beranda</a>
      </div>
    </form>

  </div>

</body>